{% block title %}{% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Orders</h1>
            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Order Status</th>
                    <th>Order Total</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td><a href="{% url 'order_detail' order.id %}">{{ order.id }}</a></td>
                        <td>{{ order.order_date }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.total }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}