{% extends "base.html" %}
{% block title %}TOGA System{% endblock title %}
{% block content %}
    <h1>TOGA System</h1>
    <p>Welcome to the TOGA System!</p>
    <p>TOGA is a system that allows you to manage your tasks and goals.</p>
    <p>It is designed to help you stay organized and focused on what matters most to you.</p>
    <p>With TOGA, you can create tasks, set deadlines, track your progress, and achieve your goals.</p>
    <p>Get started today and take control of your life with TOGA!</p>
   <a class="btn btn-primary" href="{% url 'home' %}">Go to Home</a>
{% endblock content %}